*{
  box-sizing: border-box;
}

body {
  background-color:black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.select{
  padding: 10px;
  font-size: 15px;
}

.seat {
  background-color: #444451;
  height: 15px;
  width: 20px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  padding: 5px 10px;
  border-radius: 5px;
  color:white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.row {
  display: flex;
}

h2{
  color:red;
  position: absolute;
  top: 20px;
  text-shadow: 5px 5px palevioletred;
  white-space: nowrap;
  animation: floatText 2s infinite alternate ease-in-out;
}

@keyframes floatText{
  from {
    left: 00%;
  }

  to {
    /* left: auto; */
    left: 59%;
  }
}

.screen {
  position: relative;
  background-color: #fff;
  height: 90px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
  font-size: 20px;
}

p.text span {
  color: #6feaf6;
}

button{
  margin: 20px 0px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.placeholder {
  display: none;
}


@media screen and (max-width: 850px) {
body{
height: 100%;
 margin: 10px;
}
.select{
    width:100%;
}
.showcase{
  flex-direction:row;
  max-width: auto;
}
li{
  text-size-adjust: 100%;
  flex-direction: column;
}

p{
  text-align: center;
}


}