*{
  box-sizing: border-box;
}

html,body, ul, li, h1, h2,h4, a{
  margin: 0;
  padding: 0;
}

html{
  background-color:black;
  background-image: url('https://highspringsplayhouse.com/wp-content/uploads/2016/01/red-curtains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
header{
  font-size: larger;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  position:sticky;
  top:0;
  width:100%;
  z-index: 1;
}
header a {
  text-decoration: none;
  color: black;
}

header a:hover{
  text-decoration: underline;
}

   p.title{
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 
    0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;
   }

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  25%,
  50%,
  75%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}




.page_title{
 display: flex;
 text-align: left;
 font-size:larger
}

h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.page_title p{
 margin-top:20px;
}

.icon{
  padding-right:10px;
  width: 30%;
  height: 90%;
  float: left;
}
.navlist_right {
  
  margin-top:10px;
  
}

.navlist_right a{
  
  border-bottom: solid white;
  border-width: 1px;
  padding: 10px;
  text-decoration: none;
}

.film_ikoner{
  padding-top: -0px;
  display:flex;
  justify-content: center;
}

.film_ikoner img{
  height: 200px;
  border: solid black;
  border-radius: 10px;
  
}

.film_ikoner img:hover{
  opacity: 0.9;
}

.film_ikoner div{
  margin: 5px;
  text-align: center;
}

.schema{
  justify-content: center;
  display:flex;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.schema div{
  border-inline: solid white;
  border-inline-width: 1px;
  margin: 1px;
}

.schema img{
  width: 100px;
  height: 150px;
  border: solid black;
  border-radius: 5px;

  margin: 30px;
  display: block;
}

.schema img:hover{
  transform: scale(0.98);
}


