
header{
  font-size: larger;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
}


.page_title{
 display: flex;
 text-align: left;
 font-size:larger
}

.aktuellt{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.page_title p{
 margin-top:20px;
}

.icon{
  padding-right:10px;
  width: 30%;
  height: 90%;
  float: left;
}
.navlist_right {
  
  margin-top:10px;
  
}

.navlist_right a{
  border-right: solid black;
  border-width: 1px;
  padding: 10px
}

.film_ikoner{
  padding-top: -0px;
  display:flex;
  justify-content: center;
}

.film_ikoner img{
  height: 250px;
  border: solid black;
  border-radius: 10px;
  margin: 5px;
  border-width: 1px;
}

.schema{
  justify-content: center;
  display:flex;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  text-align: center;
}

.schema div{
  border-right: solid black;
  border-width: 1px;
  margin-top: 50px;
}

.schema img{
  height: 150px;
  margin: 30px;
  border: solid black;
  border-width: 1px;
  border-radius: 5px;
  opacity: 80%;
  display: block;
}

