main{
  display: flex;
  background-color: gray;
  margin: 1px;
  padding: 10px;
  border: solid black;
}

.div1 {
  width: 80%;
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;
  border: solid rgb(0, 0, 0);
  background-color: rgb(148, 148, 148);
  margin-top: 0px;
  padding: 10px;
}

.div2{
  border: solid black;
  background-color: rgb(148, 148, 148);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
  width: auto;
}

.showings{
  border-bottom: solid black;
  padding:10px;
}
iframe{
  
  height: 600px;
  width: 100%;
  border: solid black;
  padding-right: 0px;
}



header{

  font-size: larger;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
   p.title{
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 
    0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;
   }

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  25%,
  50%,
  75%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}




.page_title{
 display: flex;
 text-align: left;
 font-size:larger
}

h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.page_title p{
 margin-top:20px;
}

.icon{
  padding-right:10px;
  width: 30%;
  height: 90%;
  float: left;
}
.navlist_right {
  
  margin-top:10px;
  
}

showings{
  border-bottom: solid black;
}
.navlist_right a{
  border-bottom: solid black;
  border-width: 1px;
  padding: 10px;
  text-decoration: none;
}