

.movieimage {
  width: 200px;
  border: black;
  border-radius: 20px;
  z-index: -1;
}
.imageContainer{
  overflow: hidden;
  display:inline-block;
  border-radius: 20px;
  z-index: -1;

}
.movieimage:hover{
  transform: scale(1.2);
}
.movietitle{
  font-family: 'Roboto' sans-serif;
  margin-bottom: 60px;
}
.textContainer{
  display: inline-block;
  width: 50%;
  margin-left: 40px;
  position: absolute;
}

.contentContainer{
  margin-top: 50px;
  margin-left: 180px;
  height: 40vh;

}


.moviedescribtion{
  font-family:'Roboto'sans-serif ;
  border: black;
  background-color:rgba(255, 255, 255, .10);
  
}

h2{
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-left: 9%;
}
